version: '3.8'

services:
  app:
    image: projetudsp38/udsp-38-app:latest
    container_name: udsp-38-app
    ports:
      - "3000:3000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app