@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";




@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2B53A0;
  --secondary: #5586C5;
  --success: #22c55e;
  --info: #3b82f6;
  --warning: #f59e0b;
  --error: #ef4444;
  --surface: #FAFBFC;
  --surface-muted: #F7F9FA;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2B53A0;
    --secondary: #5586C5;
    --success: #22c55e;
    --info: #3b82f6;
    --warning: #f59e0b;
    --error: #ef4444;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-optical-sizing: auto;
}
