name: Common CI Steps

on:
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string
      port:
        required: true
        type: string
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      VM_HOST:
        required: true
      VM_USER:
        required: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build

      - name: Build Docker Image
        run: docker build -t projetudsp38/udsp-38-app:${{ inputs.docker_tag }} .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image to Docker Hub
        run: docker push projetudsp38/udsp-38-app:${{ inputs.docker_tag }}

      - name: Deploy to Ubuntu VM
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          VM_HOST: ${{ secrets.VM_HOST }}
          VM_USER: ${{ secrets.VM_USER }}
          DOCKER_TAG: ${{ inputs.docker_tag }}
          PORT: ${{ inputs.port }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          scp -o StrictHostKeyChecking=no docker-compose.${{ inputs.docker_tag }}.yml $VM_USER@$VM_HOST:/home/$VM_USER/docker-compose.${{ inputs.docker_tag }}.yml
          ssh -o StrictHostKeyChecking=no $VM_USER@$VM_HOST "
            export DOCKER_TAG=${DOCKER_TAG} &&
            export PORT=${PORT} &&
            docker stop udsp-38-app-${DOCKER_TAG} || true &&
            docker rm udsp-38-app-${DOCKER_TAG} || true &&
            docker rmi projetudsp38/udsp-38-app:${DOCKER_TAG} || true &&
            docker pull projetudsp38/udsp-38-app:${DOCKER_TAG} &&
            docker-compose -f /home/$VM_USER/docker-compose.${DOCKER_TAG}.yml up -d
          "